
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio</title>
</head>
<body>
    <div> 
        <h1>Mi primer formulario</h1>
        <a href="/Home/Vista2">Ir a vista 2</a>

        @Html.ActionLink("Vista 2", "Vista2")

        <h3>@TempData["mensaje1"]</h3>

        <h4>@TempData["mensaje2"]</h4>
    </div>
</body> 
</html>
